.App {
  text-align: center;
}
#AlleSimple{
  display: grid;
  padding : 30px 10px;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 5fr ;
  grid-template-raw: 2fr 2fr 2fr 2fr 2fr 2fr  ;
  gap: 10px 2em;
}
#AlleSimpleTitle{
  color:black;
}

#AlleSimple:first-child{
  align-self: center;
  text-align: center;
}
#button_Reserve{
  align-self: center;
}

#profil {
  display: grid;
  align-items: flex-start;
  text-align: left ;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}